{% extends 'users/auth_base.html' %} 
{% load crispy_forms_tags %} 
{% block title %}
   Login
{% endblock %} 
{% block content%}
  <div class="container py-5">
  <h1 class="text-center">Login</h1>
  <form method="POST" class="text-center">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary mt-3" type="submit">Login</button>
  </form>
  <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup-page' %}">Create an account</a>.</p>
</div>
{% endblock content%}
